*{
    box-sizing : border-box; 
}
body{
    padding : 0;
    margin : 0;
    height: 100vh;
    width: 100vw;
   
}
.mainbody{
    height : 100%;
    width : 100%;
   
}
.Menubtn{
    position : absolute;
    left : 5rem; 
    top : 2.5rem;
    height : 3rem;
    width : 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius : 50%; 
    display : flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
    /* rem-> size of the root element */
}
.Menubtn>span {
    font-size: 25px;
}
.toolHeader{
    /* position : absolute; */
    height: 5rem;
    width : 25rem;
    margin : 0 auto;
    margin-top:20px ;
    border: 2px solid violet;

    /* left : 30rem; */
    /* top : 40rem; */
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.toolHeaderAni{
    animation-name: toolHeaderAni;
    animation-duration: 500ms;
    animation-iteration-count: 1;

}

@keyframes toolHeaderAni{
    0%{transform : scale(0)}
    100%{transform : scale(1)}
}

.penTool-Box{
    height : 6rem; 
    width : 9rem;
    /* border : 2px solid red; */
    position : absolute;

    left : 41vw;
    top : 6rem;
    border-radius : 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border :2px solid violet;
    
}

.inputPentool{
    height: 40%;
    width : 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor : pointer;
    border: 1px solid blue
}

.penToolColorOptions{
    height : 60%; 
    width : 100%;
    display: flex;
    border : 2px solid violet;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    gap : 1rem;


}
.penTooColorBox{
    height : 30px; 
    width : 30px;
    border : 1px solid black;
    border-radius: 50%;
}
.toolColorYellow{
    background-color: rgb(255, 255, 0);
}
.toolColorRed{
    background-color: rgb(255, 0, 0);
}
.toolColorBlue{
    background-color: rgb(17, 0, 255);
}